@tailwind base;
@tailwind components;
@tailwind utilities;
/* ibm-plex-mono-latin-400-normal */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/ibm-plex-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/ibm-plex-mono@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
code {
  font-size: 13px;
}


.prose-styles {
  @apply prose prose-headings:text-black text-sm  text-gray-600   prose-a:text-blue  prose-a:no-underline hover:prose-a:underline  prose-a:font-normal prose-strong:text-black   prose-blockquote:text-gray-500  prose-blockquote:border-gray-400  prose-headings:text-[16px]  prose-ul:leading-tight prose-ul:[list-style-type:'⏤'] prose-ul:space-y-2.5   prose-headings:font-normal max-w-none prose-li:marker:text-black  mt-0 prose-h1:text-2xl;
}
:root {
  --astro-code-token-link: theme(textColor.white);
  --astro-code-token-keyword: theme(textColor.black);
  --astro-code-token-function: theme(textColor.black);
  --astro-code-token-parameter: theme(textColor.white);
  --astro-code-color-text: theme(textColor.gray.600);
  --astro-code-token-punctuation: theme(textColor.white);
  --astro-code-token-string: theme(textColor.gray.800);
  --astro-code-token-comment: theme(textColor.gray.400);
  --astro-code-token-constant: theme(textColor.gray.700);
  --astro-code-color-background: theme(backgroundColor.gray.50);
  --astro-code-token-string-expression: theme(textColor.blue);
}
/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1,
    /* Contextual Alternates */ "dlig" 1, /* Discretionary Ligatures */ "ss07" 1,
    /* fSquare punctuation */ "ss08" 1, /* Square quotes */ "zero" 1,
    /* Slashed zero */ "tnum" 1, /* Tabular numbers */ "cv03" 1,
    /* Open six */ "cv04" 1, /* Open nine */ "cv01" 1,
    /* Alternate one */ "cv09", /* Flat-top three */ "cv02" 1; /* Open 4 */
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}
