---
const colorCategories = [
  {
    category: "Midnight",
    colors: [
      { name: "Coral", hex: "#EE8679" },
      { name: "Salmon", hex: "#F8D2C9" },
      { name: "Fennel", hex: "#5BA2D0" },
      { name: "Mint", hex: "#9CCFD8" },
      { name: "Violet", hex: "#A78BFA" },
      { name: "Sky", hex: "#94B8FF" },
      { name: "Base", hex: "#151726" },
      { name: "Interface", hex: "#1C1E2D" },
      { name: "Overlay", hex: "#232534" },
      { name: "Soft", hex: "#6B6D7C" },
      { name: "Slight", hex: "#8D8F9E" },
      { name: "Text", hex: "#DEE0EF" },
      { name: "Focus Low", hex: "#1F212F" },
      { name: "Focus Medium", hex: "#3E404F" },
      { name: "Focus High", hex: "#535568" },
    ],
  },
  {
    category: "Sunset",
    colors: [
      { name: "Coral", hex: "#D1918F" },
      { name: "Salmon", hex: "#D6B4B4" },
      { name: "Fennel", hex: "#709BBD" },
      { name: "Mint", hex: "#AAC9D4" },
      { name: "Violet", hex: "#A392DC" },
      { name: "Sky", hex: "#A0B6E8" },
      { name: "Base", hex: "#202231" },
      { name: "Interface", hex: "#272938" },
      { name: "Overlay", hex: "#363847" },
      { name: "Soft", hex: "#6B6D7C" },
      { name: "Slight", hex: "#8D8F9E" },
      { name: "Text", hex: "#DEE0EF" },
      { name: "Focus Low", hex: "#292A3A" },
      { name: "Focus Medium", hex: "#414354" },
      { name: "Focus High", hex: "#535568" },
    ],
  },
  {
    category: "Midnight",
    colors: [
      { name: "Coral", hex: "#EE8679" },
      { name: "Salmon", hex: "#F8D2C9" },
      { name: "Fennel", hex: "#5BA2D0" },
      { name: "Mint", hex: "#9CCFD8" },
      { name: "Violet", hex: "#A78BFA" },
      { name: "Sky", hex: "#94B8FF" },
      { name: "Base", hex: "#151726" },
      { name: "Interface", hex: "#1C1E2D" },
      { name: "Overlay", hex: "#232534" },
      { name: "Soft", hex: "#6B6D7C" },
      { name: "Slight", hex: "#8D8F9E" },
      { name: "Text", hex: "#DEE0EF" },
      { name: "Focus Low", hex: "#1F212F" },
      { name: "Focus Medium", hex: "#3E404F" },
      { name: "Focus High", hex: "#535568" },
    ]
  },
];
---

{
  colorCategories.map((category) => (
    <div class="prose-styles ">
      <div class="mt-12 w-full">
        <h2 class="text-2xl font-bold">{category.category}</h2>
        <div class="pt-2 border-t text-xs space-y-2 w-full">
          {category.colors.map((color) => (
            <div class="items-center flex gap-4">
              <div
                class="size-4 rounded-full shrink-0"
                style={{ "background-color": color.hex }}
              />
              <div class="flex gap-4 w-full justify-between">
                <span>{color.name} </span>
                <span> {color.hex}</span>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  ))
}
