---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <article class="max-w-xl px-8 py-12 mx-auto lg:py-32">
      <h1 class="text-2xl text-black">404</h1>
      <div class="prose-styles">
        <ul>
          <li>
            <a href="/">Go back home</a>
          </li>
        </ul>
      </div>
    </article>
  </section>
</BaseLayout>
