---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TabComponent from "@/components/global/TabComponent.astro";
---

<BaseLayout>
  <section>
    <div class="max-w-xl mx-auto px-8 py-12 lg:pt-32">
      <div class="prose-styles">
        <h1>Heros</h1>
        <p>description for heros goes here and so on</p>
      </div>
    </div>
    <div class="max-w-7xl mx-auto px-8 space-y-12">
      <TabComponent componentName="One" />

    </div>
  </section>
</BaseLayout>
