---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <section>
    <article class="max-w-xl mx-auto px-8 py-12 lg:py-32 content-end">
      <div class="prose-styles">
        <slot />
      </div>
    </article>
  </section>
</BaseLayout>
