<div
  class="w-full max-w-xl px-8 fixed z-50 bg-white dark:bg-black flex flex-col lg:flex-row lg:items-center lg:justify-between py-4">
  <div
    class="flex items-center justify-between text-black dark:text-white w-full text-sm">
    <a
      href="/"
      class="font-medium">
      Michael Andreuzza</a
    >
    <div class="flex gap-3 text-gray-500 dark:text-gray-400">
      <a href="/all-work">Work</a>
      <a class="hidden" href="/studio">studio</a>
      <a href="/all-themes">VS Code</a>
      <a href="/now">Now</a>
      <a href="/about">about</a>
    </div>
  </div>
</div>
